.footer {
    border: 1px solid #e0e0e0;
    padding: 15px;
    text-align: center;
    background-color: snow;

    &__text--notice {
        color: darkred;
    }

    &__list-item {
        display: inline;

        &::after {
            content: "\00a0\00a0|\00a0\00a0"
        }
    }

    &__link {
        color: #505050;
        text-decoration: none;
        line-height: 20px;
        font-size: 14px;
    }
}
