.container {
    background-color: white;
    width: 80%;
    min-width: 900px;
    height: 100%;
    margin: 145px auto 30px auto;

    &__title {
        padding: 30px 0 15px 15px;
        font-size: 20px;
    }

    &::after {
        clear: both;
        content: " ";
        display: table;
    }
}

.contents {
    width: 699px;
    float: left;
}

.new-info {
    max-height: 200px;
    overflow: auto;
    overflow-x: hidden;

    &__column {
        padding: 6px;
        border-bottom: 1px dashed #e0e0e0;

        &:first-child {
            width: 80px;
        }
    }

    &--saturday {
        color: #8282ff;
    }

    &--sunday {
        color: #e49cae;
    }
}

.new-arrival {
    overflow-x: auto;
}

.ranking {
    overflow-x: auto;
}

