.container {
    background-color: white;
    width: 80%;
    min-width: 900px;
    height: 100%;
    margin: 145px auto 30px auto;

    &__title {
        padding: 30px 0 15px 15px;
        font-size: 20px;
    }

    &::after {
        clear: both;
        content: " ";
        display: table;
    }
}

.contents {
    width: 699px;
    float: left;
}

.new-info {
    max-height: 200px;
    overflow: auto;
    overflow-x: hidden;

    &__column {
        padding: 6px;
        border-bottom: 1px dashed #e0e0e0;

        &:first-child {
            width: 80px;
        }
    }

    &--saturday {
        color: #8282ff;
    }

    &--sunday {
        color: #e49cae;
    }
}

.new-arrival {
    overflow-x: auto;
}

.ranking {
    overflow-x: auto;
}

.importer {
    &__table {
        width: 100%;
    }

    &__column {
        text-align: center;
        padding-bottom: 15px;
    }

    &__image {
        border: 1px solid #e0e0e0;
        width: 100px;
        height: 100px;
        vertical-align: middle;
    }
}

.wine-info {
    &__properties {
        border-collapse: collapse;
        border: 1px solid #e0e0e0;
        width: 100%;
    }

    &__label-column {
        width: 60px;
        color: slategrey;
        background-color: snow;
    }

    &__column {
        font-size: 13px;
        padding: 10px;
    }

    &__image-column {
        width: 150px;
    }

    &__image {
        height: 175px;
        border: 1px solid #e0e0e0;
        vertical-align: middle;
    }

    &__title {
        font-size: 16px;
    }

    &__producer-link {
        color: #505050;
        text-decoration: none;
        line-height: 20px;
        font-size: 14px;
    }
}
