.header {
    width: 100%;
    min-width: 500px;
    height: 145px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    opacity: 0.5;
    text-align: center;
    background-color: snow;

    &__image {
        height: 100px;
        vertical-align: middle;
    }

    &__link {
        color: cadetblue;
        text-decoration: none;
        line-height: 20px;
        font-size: 16px;
        font-family: sans-serif;
        margin: 10px;
    }

    &__command {
        color: white;
        text-decoration: none;
        background-color: darkgray;
        font-size: 14px;
        border-style: none;
        padding: 6px 15px;
    }

    &__menu {
        white-space: nowrap;
        position: absolute;
        top: 100px;
        right: 20px;
    }
}
