.body {
    color: #505050;
    font-family: "メイリオ","ヒラギノ角ゴ Pro W3","MS PGothic","MS UI Gothic",Helvetica,Arial,sans-serif;
    background-image: url("//anyway-grapes.jp/images/background.jpg");
    font-size: 15px;
}
