.page-container {
    width: 80%;
    min-width: 900px;
    height: 100%;
    margin: 145px auto 30px auto;

    .new-info-pane {
        max-height: 200px;
        overflow: auto;
        overflow-x: hidden;

        .saturday-color {
            color: #8282ff;
        }

        .sunday-color {
            color: #e49cae;
        }

        td {
            padding: 6px;
            border-bottom: 1px dashed #e0e0e0;

            &:first-child {
                width: 80px;
            }
        }
    }

    .arrival-pane {
        overflow-x: auto;
    }

    .ranking-pane {
        overflow-x: auto;
    }
}
