.footer {
    text-align: center;

    &__text--notice {
        color: darkred;
    }

    &__list-item {
        display: inline;

        &::after {
            content: "\00a0\00a0|\00a0\00a0"
        }
    }

    &__link {
        color: #505050;
        text-decoration: none;
        line-height: 20px;
        font-size: 14px;
    }
}
