aside {
    opacity: 0.8;
    width: 200px;
    float: left;

    li {
        list-style: none;

        a {
            color: #505050;
            text-decoration: none;
            line-height: 20px;
            font-size: 14px;
        }
    }
}
