/* AnywayHeader.tsx */
header {
    .page-links {
        color: cadetblue;
        text-decoration: none;
        line-height: 20px;
        font-size: 16px;
        font-family: sans-serif;
        margin: 10px;
    }

    .cmd-links {
        color: white;
        text-decoration: none;
        background-color: darkgray;
        font-size: 14px;
        border-style: none;
        padding: 6px 15px;
    }

    .search-input {
        width: 250px;
        height: 30px;
    }

    .search-button {
        height: 33px;
        vertical-align: middle;
    }
}

/* WineColumn.tsx */
.wine-column {
    vertical-align: top;
    padding: 0 20px 0 0;

    .wine-link {
        color: #505050;
        text-decoration: none;
        line-height: 20px;
        font-size: 14px;

        .wine-img {
            border: 1px solid #e0e0e0;
            vertical-align: middle;
            height: 175px;
        }
    }
}

/* AnywayFooter.tsx */
footer {
    text-align: center;

    .notice-text {
        color: darkred;
    }

    .nav-links {
        li {
            display: inline;

            &::after {
                content: "\00a0\00a0|\00a0\00a0"
            }

            a {
                color: #505050;
                text-decoration: none;
                line-height: 20px;
                font-size: 14px;
            }
        }
    }
}
